<div class="container">
  <div class="row">
    <h2 class="mt-4 mb-4">注文情報確認</h2>
  </div>
  <div class="row">
    <table class="table col-8">
      <thead>
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
        </tr>
      </thead>
      <tbody>
        <% current_customer.cart_products.each do |order_product| %>
        <tr>
          <td><%= attachment_image_tag order_product.product, :image, :fill, 60, 40 %><%= order_product.product.name %></td>
          <td><%= order_product.product.add_tax_price %></td>
          <td><%= order_product.quantity %></td>
          <td><%= order_product.sub_price %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table col-3 offset-md-1">
      <tbody>
        <tr>
          <th scope="row">送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr scope="row">
          <th>商品合計</th>
          <td><%= @order.total_price %></td>
        </tr>
        <tr scope="row">
          <th>請求金額</th>
          <td><%= @order.shipping_cost + @order.total_price %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <tbody>
        <tr scope="row">
          <th>支払い方法</th>
          <% if @order.payment_method == 0 %>
          <td>クレジットカード</td>
          <% else %>
          <td>銀行振り込み</td>
          <% end %>
        </tr>
        <tr csope="row">
          <th>配送先</th>
          <td>〒 <%= @order.postal_code %> <%= @order.address %> <%= @order.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    
  </div>
</div>