<div class="container">
  <div class="row">
    <h4>注文情報入力画面</h4>
    <div class="">
    <%= form_with model: @order, url: orders_confilm_path, local:true do |f| %>
      <p>支払い方法</p>
      <%= f.radio_button :payment_method, :card %>
      <%= f.label :payment_method, "クレジットカード", {value: :card} %></br>
      <%= f.radio_button :payment_method, :transfer %>
      <%= f.label :payment_method, "銀行振り込み", {value: :transfer} %>
      <p>お届け先</p>
      <%= f.radio_button :address_option, 0 %>
      <%= f.label :address_option, "ご自身の住所", value: 0 %></br>
      <%= "〒" + current_customer.postal_code + current_customer.address %></br>
      <%= current_customer.first_name + current_customer.last_name %></br>

      <%= f.radio_button :address_option, 1 %>
      <%= f.label :address_option, "登録済み住所から選択", value: 1 %></br>
      <%= f.collection_select :shipping_address_option, current_customer.shipping_addresses, :id, :shipping_address_all, prompt: "選択してください" %></br>

       <%= f.radio_button :address_option, 2 %>
      <%= f.label :address_option, "新しいお届け先", value: 2 %></br>
      <p>郵便番号（ハイフンなし）</p>
      <%= f.text_field :postal_code %>
      <p>住所</p>
      <%= f.text_field :address %>
      <p>宛名</p>
      <%= f.text_field :name %>
      </br><%= f.submit "確認画面へ" %>
      <% end %>
    </div>
  </div>
</div>

