<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2 class="page_title mt-4">ログイン</h2></br>
      <p class="page_title mt-4 ml-4">会員の方はこちらからログイン</p>
      <table class="table table-borderless mx-auto", style="width: 75%">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <thead>
          <tr>
            <th style="width: 30%"></th>
            <th style="width: 70%"></th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <th>メールアドレス</th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@exsample.com" %></td>
          </tr>
          <tr scope="row">
            <th>パスワード</th>
            <td> <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <div class="row">
          <div class="actions mx-auto">
            <%= f.submit "ログイン", class: "btn btn-md btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
      <p class="page_title mt-4 ml-4">会員登録がお済みで無い方</P>
      <p class="text-center" style="width: 65%"><%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。</p>
    </div>
  </div>
</div>