<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2 class="mt-4">商品新規登録</h2>
      <%= render 'layouts/errors', obj: @product %>
      <table class="table table-borderless col-8 mx-auto">
        <thead>
          <tr>
            <th style="width: 30%"></th>
            <th style="width: 25%"></th>
            <th style="width: 25%"></th>
            <th style="width: 20%"></th>
          </tr>
        </thead>
        <tbody>
          <%= form_with model:@product, url:admin_products_path, local:true do |f| %>
            <tr>
              <th><%= f.label :image, "商品画像" %></th>
              <td colspan="2">
              <%= f.attachment_field :image %>
              </td>
              <td></td>
            </tr>
            <tr>
              <th><%= f.label :name, "商品名" %></th>
              <td colspan="2">
              <%= f.text_field :name, class: 'form-control', :placeholder =>'商品名'%>
              </td>
              <td></td>
            </tr>
            <tr>
              <th><%= f.label :desctiption, "商品説明" %></th>
              <td colspan="2">
              <%= f.text_field :description, class: 'form-control', :placeholder =>'ここに説明文を記述します', size:"333x60"%>
              <td></td>
            </td>
            <td></td>
            </tr>
            <tr>
              <th>
                <%= f.label :genre_id, "ジャンル" %></th>
              <td colspan="2">
                <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: '-- 選択してください --') %>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <th><%= f.label :non_taxed_price, "税抜価格" %></th>
              <td colspan="2">
                <%= f.text_field :non_taxed_price, class: 'form-control', :placeholder =>'1000'%></td>
              <td>円</td>
            </tr>
            <tr class="sales_status">
              <th><%= f.label :sales_status, "販売ステータス" %></th>
              <td>
                <%= f.radio_button :sales_status, true %>
                <%= f.label :sales_status, "販売中", value: true %>
              </td>
              <td>
                <%= f.radio_button :sales_status, false %>
                <%= f.label :sales_status, "販売停止中", value: false %>
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="text-center">
                  <%= f.submit "新規登録", class: "btn btn-md btn-success" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
